* {
    box-sizing: border-box;
}

#results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid black;
}

#deet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid black;
    box-sizing: border-box;
}

.deetBox {
    border: 2px black solid;
}

#searchform {
    border-bottom: 5px solid black;
}

#nowPlaying {
    border-bottom: 5px solid black;
}