* {
    box-sizing: border-box;
}

#results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#deet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
}

#deetBox {
    width: 150px;
}

#searchform {
    border-bottom: 5px solid black;
    display: flex;
    flex-direction: row;
}

#nowPlaying {
    border-bottom: 5px solid black;
}